<!DOCTYPE html>
<html>
  <head>
    <title i18n>Topology View</title>
    <meta charset="UTF-8" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"
    />
    <link
      href="//at.alicdn.com/t/font_2030495_htq8nwv6gsm.css"
      rel="stylesheet"
    />
    <link
      href="//at.alicdn.com/t/font_1113798_sqwq3dagcfh.css"
      rel="stylesheet"
    />
    <link
    href="//at.alicdn.com/t/font_2052340_9oz9rmhcdbr.css"
    rel="stylesheet"
  />
  <link
  href="//at.alicdn.com/t/font_2073009_5ilnjxypv6l.css"
  rel="stylesheet"
/>
    <style>
      * {
        padding: 0;
        margin: 0;
        outline: none;
        box-sizing: border-box;
        word-break: break-all;
        word-break: break-word;
      }

      body,
      .canvas {
        width: 80vw;
        height: 80vh;
      }
    </style>
  </head>

  <body>
    <div class="canvas" id="topology"></div>
    <script src="node_modules/topology-bundle/index.js"></script>
    <script src="/js/marked.min.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
